

#map { position: absolute; top: 0; bottom: 0; width: 100%; }



.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 5px 1px;
  font-family: monospace;
  z-index: 2; /* Increase z-index to make the sidebar appear above the map */
  position: absolute;
  top: 0;
  left: +10px;
  margin: 12px;
  border-radius: 4px;
  width: 360px; /* Set a width for the sidebar */
  height: 3%; /* Make the sidebar fill the height of the page */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Add these lines to center the text */
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
}

.sidebar p {
  display: inline-block;
  margin-right: 10px; /* Optional: add some space between the elements */
}
